@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Figtree";
  font-weight: bold;
}

body {
  background-color: hsl(47, 88%, 63%);
  font-size: 16px;
  color: hsl(0, 0%, 7%);
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  box-shadow: 10px 10px 0px 0px;
  border-radius: 20px;
  width: 400px;
  padding: 10px;
  justify-content: center;
  background-color: hsl(0, 0%, 100%);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 20px;
}

.learning {
  display: inline-block;
  flex-direction: column;
  padding: 10px;
}
#learning {
  display: inline-block;
  width: auto;
  font-weight: bolder;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 7px;
  background-color: hsl(47, 88%, 63%);
}

.section {
  display: flex;
  width: auto;
  padding: 10px;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-weight: bolder;
}
h2:hover {
  cursor: pointer;
  color: hsl(47, 88%, 63%);
}

#text-grey {
  color: hsl(0, 0%, 50%);
}
.avatar {
  display: flex;
  align-items: center;
  font-size: 15px;
}
#avatar {
  width: 50px;
}

#greg-hooper {
  font-weight: bolder;
}

.attribution {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
  margin-top: 20px;
  font-size: 13px;
}

a {
  color: blue;
}

@media only screen and (max-width: 440px) {
  .container,
  .learning,
  .section,
  .avatar,
  .attribution {
    width: 80%;
    font-size: 12px;
    height: auto;
  }
}
